/* AppLayout.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
 background: linear-gradient(to right, #EFEFEF, #EF9651);
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

